<div class="sidebar" id="sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="{% url 'dashboard' %}"
                class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <i class="fas fa-home"></i><span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'portfolio' %}"
                class="nav-link {% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}">
                <i class="fas fa-chart-pie"></i><span>Portfolio</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'trade' %}"
                class="nav-link {% if request.resolver_match.url_name == 'trade' %}active{% endif %}">
                <i class="fas fa-exchange-alt"></i><span>Trade</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'market' %}"
                class="nav-link {% if request.resolver_match.url_name == 'market' %}active{% endif %}">
                <i class="fas fa-layer-group"></i><span>All Stocks</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'watchlist' %}"
                class="nav-link {% if request.resolver_match.url_name == 'watchlist' %}active{% endif %}">
                <i class="fas fa-star"></i><span>Watchlist</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'learn' %}"
                class="nav-link {% if request.resolver_match.url_name == 'learn' %}active{% endif %}">
                <i class="fas fa-graduation-cap"></i><span>Learn</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'settings' %}"
                class="nav-link {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
                <i class="fas fa-cog"></i><span>Settings</span>
            </a>
        </li>
    </ul>
</div>